name: Build

on: 
    workflow_dispatch:
        inputs:
            version:
                required: true
                type: string
                description: "Version"

jobs:
    build:
        permissions:
            contents: write
        strategy:
            fail-fast: false
            matrix:
                include:
                    - platform: 'windows-latest'
                      args: ''
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: setup node
              uses: actions/setup-node@v4
              with:
                node-version: lts/*
            
            - name: install rust
              uses: dtolnay/rust-toolchain@stable
              with:
                targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
            
            - name: install dependencies
              run: |
                bun install
            
            - name: build
              uses: tauri-apps/tauri-action@v0
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tagName: ${{ inputs.version }}
                releaseName: ${{ inputs.version }}
                releaseNotes: ''
                releaseDraft: true
                prerelease: false
                args: ${{ matrix.args }}